.first-loading{
  color: red;
  font-size: 20px;
  animation: rotate 2s linear infinite;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.icon-first-loading{
  width: 80px!important;
  height: 80px!important;
}

@keyframes rotate{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}